# IDE specific
.vscode/
.idea/
.history/

# OS specific
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json # Depending on project, you might want to commit this

# Build artifacts
build/
dist/
out/

# Log files
*.log

# Environment variables
.env
.env.*
!/.env.example

# Other
*.swp
*.swo
*.txt

# Wrangler specific
.wrangler
.dev.vars

notes
.clinerules